<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.ualberta.cmput301f13t10"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cmput301f13t10.view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cmput301f13t10.view.SectionReadView"
            android:label="@string/app_name"
            android:parentActivityName="cmput301f13t10.view.LibraryView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.ualberta.cmput301f13t10.view.LibraryView" />
        </activity>
        <activity
            android:name="cmput301f13t10.view.AdventureEditView"
            android:label="@string/title_activity_adventure_edit_view"
            android:parentActivityName="cmput301f13t10.view.LibraryEditView"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.ualberta.cmput301f13t10.view.LibraryEditView" />
        </activity>
        <activity
            android:name="cmput301f13t10.view.SectionEditView"
            android:label="@string/title_activity_section_edit_view"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.ualberta.cmput301f13t10.view.AdventureEditView" />
        </activity>
        <activity
            android:name="cmput301f13t10.view.SectionModifyChoicesView"
            android:label="@string/title_activity_modify_Section_Choices_view"
            android:parentActivityName="cmput301f13t10.view.SectionEditView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.ualberta.cmput301f13t10.view.SectionEditView" />
        </activity>
        <activity
            android:name="cmput301f13t10.view.LibraryView"
            android:label="@string/library"
            android:parentActivityName="cmput301f13t10.view.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.ualberta.cmput301f13t10.view.MainActivity" />
        </activity>
        <activity
            android:name="cmput301f13t10.view.LibraryEditView"
            android:label="@string/library"
            android:parentActivityName="cmput301f13t10.view.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.ualberta.cmput301f13t10.view.MainActivity" />
        </activity>
    </application>

</manifest>